<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <nav>
        <a mat-button routerLink="/numbers" (click)="sidenav.close()">Numbers</a>
        <a mat-button routerLink="/alphabets" (click)="sidenav.close()">Alphabets</a>
        <a mat-button routerLink="/shapes" (click)="sidenav.close()">Shapes</a>
      </nav>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Toddler Website</span>
        <span class="spacer"></span>
        <nav *ngIf="(isHandset$ | async) === false">
          <a mat-button routerLink="/numbers">Numbers</a>
          <a mat-button routerLink="/alphabets">Alphabets</a>
          <a mat-button routerLink="/shapes">Shapes</a>
          <a mat-button routerLink="/math">Math</a>
        </nav>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  