.shape {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.square {
    background-color: #FF0000;
}

.circle {
    border-radius: 50%;
    background-color: #FFFD00;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.2px solid #008000; // We're using the site's primary color here
    margin: 0 auto; // To center the triangle
}

.rectangle {
    width: 300px;
    height: 200px;
    background-color: #007FFF;
}

.diamond {
    width: 200px;
    height: 200px;
    background: #FF8C00;
    transform: rotate(45deg);
}

.pentagon {
    margin: 20px auto; 
    position: relative;
    width: 200px;
    height: 130px;
    background: #800080;
}

.pentagon:before {
    content: "";
    position: absolute;
    top: -70px;
    left: 0;
    width: 200px;
    height: 70px;
    background: #800080;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}